<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/about.css">
    <h1 class="text-center text-light" style="font-style: italic;">About Me</h1>
<br>
    <div class="container">
  <div class="row">
    <div class="column">
      <div class="col-6" id="div1">
        <p class="text-light">
          I am a passionate individual 
          with a keen interest in coding, 
          web development, hacking, and networking. 
          Exploring the ever-evolving landscape of technology is not just a hobby for me; 
          it's a constant journey of learning and growth. 
          I find joy in unraveling the complexities of programming and finding innovative solutions to challenges. Additionally, my curiosity extends beyond the digital realm, as I have a strong foundation in cricket, having played the sport until class 10th. I am also an athletic person with a love for swimming, finding solace in the rhythm of strokes against the water.
        </p>
      </div>
    </div>
    <br>
    <div class="column">
      <div class="col-6 offset-6" id="div1">
        <p class="text-light">In my free time, I delve into the world of creativity, expressing myself through poetry, short story writing, and singing. This artistic side provides a balance to my tech-centric interests, allowing me to appreciate the beauty of words and melodies. Another facet of my personality is the love for stand-up comedy. Making people laugh is not just a source of joy for me but a genuine passion. I find satisfaction in crafting jokes and performing in front of an audience, bringing smiles to faces.</p>
      </div>
    </div>
    <br>
    <div class="column">
      <div class="col-6" id="div1">
        <p class="text-light">While I am deeply engrossed in the tech and creative realms, I also enjoy unwinding by indulging in TV shows and sports. Whether it's cheering for my favorite team or getting lost in the plot of a captivating series, I appreciate the diverse forms of entertainment that provide a well-rounded experience in my daily life.</p>
      </div>
    </div>
    <br><br>
    <div class="column">
        <!-- <div id="div1" class="col-3"></div> -->
    </div>
  </div>
</div>
