<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/project.css">
<div class="column-fluid">
<h1 class="text-center mt-3 font-weight-bold">CONTACTS</h1><br><br>
<div class="row mt-5">
  <div class="column">
    <div class="col-md-6 offset-3" id="div1">
      <div class="card bg-dark border border-dark rounded-top" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title text-light" style="height: 5rem; font-size: 2rem;">TEST BRANCH CODE</h5>
        <a href="https://yelpcamp-myj7.onrender.com/" class="btn btn-primary">View Project</a>
      </div>
    </div>
    </div>
  </div>

</div>
<br><br>
</div>