<% layout('layouts/boilerplate') %>
<br>
<link rel="stylesheet" href="/styles/feedback.css">
<div class="col-6 mx-4">
      <p class="text-muted font-weight-bold">Please Feel Free to submit a genuine review/feedback of my projects and working alongside me</p>
    </div>
    <br>  
    <div>

<div class="row">
  <div class="col-6" id="left">
    <div class="card mb-3 bg-transparent">
      <form action="/feedback" method="post" novalidate class="needs-validation">
  <div class="form-group row d-flex flex-column flex-sm-wrap" id="div1">
    <div class="col-8 ml-5">
        <label for="exampleInputEmail1" class="font-weight-bold text-light">Name</label>
        <input type="text" name="name" class="form-control input-sm bg-transparent" id="exampleInputEmail1" placeholder="Name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
  </div>
  <div class="form-group row d-flex flex-column flex-sm-wrap" id="div1">
    <div class="col-8 ml-5">
        <label for="feedback" class="font-weight-bold text-light">Feedback</label>
        <textarea name="feedback" id="feedback" cols="20" rows="10" class="form-control input-sm bg-transparent" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
  </div>
  <button class="btn btn-success ml-5" id="div1">Submit</button>
  </form>
  <br><br>
</div>
</div>
<div class="col-6" id="right">
  <% for(let feed of feedback) {%>
   <div class="card mb-3 bg-info col-8" id="feeds">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-light" id="foo">
          Posted By : <%= feed.name %>
        </h6>
        <p class="card-text text-light" id="foo">Review: <%=feed.feedback%></p>
      </div>
    </div>
<% } %>
</div>
</div>
  

<script>
  (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
