<link rel="stylesheet" href="/styles/feedback.css">
<% layout('layouts/boilerplate') %>
<% if(feedback.length !== 0) {%>
<h6 class="text-muted ml-5 font-weight-bold mt-5 text-center">Please Feel Free to post genuine reviews of working alongside me</h3>
<div class="column-fluid">
<div class="row mt-5">
  <div class="column">
    <div class="col-6 offset-3" id="div1">
      <div class="card bg-dark border border-dark rounded-top" style="width: 80rem;">
      <div class="card-body">
        <h5 class="card-title text-light" style="height: 5rem; font-size: 2rem;">Feedback</h5>
        <p class="card-text font-weight-200 text-light"><form action="/feedback" method="post">
  <div class="form-group">
    <label for="name" class="text-light font-weight-bold">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label for="feedback" class="text-light font-weight-bold">Feedback</label>
    <textarea name="feedback" id="feedback" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form></p>
      </div>
    </div>
    </div>
  </div>
  <div class="column offset-1">
    <div class="col-12 offset-3" id="div1">
    <% for(let feed of feedback) {%>
      <div class="card bg-light border border-dark rounded-top" style="width: 80rem;">
      <div class="card-body">
        <h5 class="card-title text-dark" style="font-size: 1.2rem; font-weight: bold; text-decoration: underline 2px;">POSTED BY: <%= feed.name %></h5>
        <p class="card-text font-weight-bold text-dark">Review: <%= feed.feedback %></p>
      </div>
    </div>
    <br>
    <% } %>
    </div>
  </div>
</div>
</div>
<% }  else {%>
<h6 class="text-muted ml-5 font-weight-bold mt-5 text-center">Please Feel Free to post genuine reviews of working alongside me</h3>
<div class="column-fluid">
<div class="row mt-5">
  <div class="column">
    <div class="col-6 offset-3" id="div1">
      <div class="card bg-dark border border-dark rounded-top" style="width: 80rem;">
      <div class="card-body">
        <h5 class="card-title text-light" style="height: 5rem; font-size: 2rem;">Feedback</h5>
        <p class="card-text font-weight-200 text-light"><form action="/feedback" method="post">
  <div class="form-group">
    <label for="name" class="text-light font-weight-bold">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label for="feedback" class="text-light font-weight-bold">Feedback</label>
    <textarea name="feedback" id="feedback" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form></p>
      </div>
    </div>
    </div>
  </div>


<% } %>












<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
