<link rel="stylesheet" href="/styles/home.css" />
<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="text-center text-light">Hello I am <a href="/about" style="color: rgb(241, 23, 60);">Ankit Mukherjee</a>.<br> A student and a fullstack web developer
<form action="/about">
  <button class="btn btn-secondary btn-lg">View Profile</button>
</form></h1>

