<link rel="stylesheet" href="/styles/home.css" />
<% layout('layouts/boilerplate') %>
<h1 class="text-center text-light" style="font-style: italic; font-family: sans-serif; font-weight: bold;">My Name Is Ankit Mukherjee</h1>
<br>
<div class="container">
  <div class="row">
    <div class="column">
      <div class="col-6" id="div1">
        <p class="text-light">
          Welcome to my homepage! I am a second-year engineering student with a passion for technology and a solid foundation in various programming languages. Proficient in JavaScript, Python, C, and C++, I have hands-on experience in Python development, particularly in web applications using the Django framework. I am well-versed in working with Linux, capable of scripting in both Bash and Python, and have created Python web-scraping tools. My networking skills extend to using Bash scripts for network-related tasks.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="col-6 offset-3" id="div1">
        <p class="text-light">During my internship at Cyber Secured India (CSI), I delved into projects involving network security and ethical hacking, further expanding my knowledge in these domains. Recently, I've developed a keen interest in web applications using Node.js and Express, confidently working with the Express framework and utilizing MongoDB for database management. My expertise lies in the MERN (MongoDB, Express.js, React.js, Node.js) stack, and I am adept at building and deploying full-stack applications on cloud platforms.</p>
      </div>
    </div>
    <div class="column">
      <div class="col-6 offset-6" id="div1">
        <p class="text-light">I completed my schooling from Kendriya Vidyalaya with a focus on PCMB (Physics, Chemistry, Math, and Biology). Coding and web development have been my interests from an early age, starting with creating static web pages using HTML and CSS. Now, with backend development skills, I am capable of building and deploying full-stack applications. I have participated in hackathons, demonstrating my problem-solving abilities.</p>
      </div>
    <div class="colunm">
      <div class="col-6 offset-3" id="div1">
        <p class="text-light">
          With a strong foundation in server management and deployment, I've successfully executed projects using Node.js, Express, MongoDB, and Django with SQL databases. My expertise includes deploying applications on cloud platforms like AWS and Heroku, ensuring scalable and efficient server architectures. Dedicated to seamless operation, optimized performance, and robust security, I bring a holistic approach to full-stack development. Eager to contribute to projects demanding technical skills, creativity, and a results-driven mindset. Let's innovate and create together!
        </p>
      </div>
    </div>
    <div class="column">
      <div class="col-6" id="div1">
        <p class="text-light">Explore my detailed professional journey on my LinkedIn profile(<a href="https://www.linkedin.com/in/ankit-mukherjee-97a017247/">here</a>). With a beginner-level certification in ethical hacking from Simplilearn, I'm committed to continuous learning. Confident in excelling in full-stack application development, I bring expertise in Node.js, Express, and MongoDB. Reach out for collaboration, and let's build something great!</p>
      </div>
      <div class="column"><div class="col-4">!</div></div>
    </div>
    </div>
  </div>
</div>
</div>
