<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/project.css">
    <h1 class="text-center text-light" style="font-style: italic;"> Projects</h1>

    <br><br>
    <div class="container position-static pl-5">
  <div class="row">
    <div class="column d-flex flex-column flex-sm-wrap">
      <div class="col-6" id="div1">
        <a href="https://yelpcamp-myj7.onrender.com/">YelpCamp</a>
      </div>
    </div>
    <br>
    <div class="column d-flex flex-column flex-sm-wrap">
      <div class="col-6" id="div1">
        <p class="text-light">
            One of the biggest projects along with all the API's and system development along with procedures, models, and complete fullstack application interface
            which is deployed on <a href="https://www.render.com">render.com</a>
        </p>
      </div>
    </div>
    <div class="column d-flex flex-column flex-sm-wrap">
      <div class="col-6 offset-6" id="div1">
        <a href="https://github.com/DevCoder1309/My_Python_projects/tree/main/Web_development/E-Commerce%20website">E-Auction</a>
        <p class="text-light">Fullstack application for the users, I have made an E-commerce/auction website with the 
            development of front-end, back-end and creation of the server for the responses and a full-fleged 
            back-end database with admin access
        </p>
      </div>
        <div class="col-4 offset-6 mt-5"></div>
    </div>
</div>
