<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/project.css">
<div class="column-fluid">
<h1 class="text-center mt-3 font-weight-bold">PROJECTS</h1><br><br>
<div class="row mt-5">
  <div class="column">
    <div class="col-md-6 offset-3" id="div1">
      <div class="card bg-dark border border-dark rounded-top" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title text-light" style="height: 5rem; font-size: 2rem;">YelpCamp</h5>
        <p class="card-text font-weight-200 text-light" style="height: 10rem;">This is YelpCamp one of the biggest project with API's front-end, back-end and mongo databse connection. This application is deployed on <a href="https://www.render.com" class="font-weight-bold">render.com</a></p>
        <a href="https://yelpcamp-myj7.onrender.com/" class="btn btn-primary">View Project</a>
      </div>
    </div>
    </div>
  </div>
  <div class="column offset-1">
    <div class="col-md-6 offset-3" id="div1">
      <div class="card bg-dark border border-dark rounded-top" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title text-light" style="height: 5rem; font-size: 2rem;">E-Auction</h5>
        <p class="card-text font-weight-200 text-light" style="height: 10rem;">This is an E-auction website which uses SQL and has been built on django framework various aspects have been considered like full-fleged error handling</p>
        <a href="https://github.com/DevCoder1309/My_Python_projects/tree/main/Web_development/E-Commerce%20website" class="btn btn-primary">View Project</a>
      </div>
    </div>
    </div>
  </div>
</div>
</div>