.navbar {
    background-color: rgba(255, 255, 255, 0.2);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.navbar:hover {
    text-decoration: underline;
}


body, html, main {
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#div1 {
    /* background-color: rgba(255, 255, 255, 0.2); */
    font-weight: 500;
    font-style: italic;
    font-size: 1.3rem;
    font-family: sans-serif;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@media (max-width > 800){
    body{
        display: flex;
        flex-wrap: nowrap;
    }
}