.navbar {
    background-color: rgba(255, 255, 255, 0.2);
}


#navbar:hover {
    color: rgb(230, 59, 87);
    transition: 0.5s;
}

#navbar {
    margin-left: 2rem;
}


body {
    /* background-image: url("https://images.unsplash.com/photo-1700116035176-99d81e11c60b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

main {
    min-height: calc(100vh - 56px);
    /* Adjust 56px based on your actual header height */
    overflow-y: auto;
    /* Enable vertical overflow with a scroll bar */
}

#left,
#right {
    width: 100%;
}


.card.mb-3 {
    width: 100%;
    margin-bottom: 15px;
    /* Adjust as needed for spacing between feedback items */
}